__pycache__/datasets.cpython-37.pyc
__pycache__/kmeans.cpython-37.pyc
.vscode/settings.json
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/Anchor-Kmeans.iml
.idea/.gitignore
